In [1]:
import pandas as pd

In [4]:
a = pd.read_csv('/Users/michelkadi/Desktop/data/stack-overflow-developer-survey-2023/survey_results_public.csv')

In [14]:
a

NameError: name 'a' is not defined

In [5]:
df = pd.read_csv('/Users/michelkadi/Desktop/datachannel.csv')

In [18]:
df

        name  ...  country
0     michel  ...  lebanon
1       rita  ...   france
2  josephine  ...       UK

[3 rows x 5 columns]

In [7]:
df.shape

(3, 5)

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 5 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   name     3 non-null      object
 1   id       3 non-null      int64
 2   age      3 non-null      int64
 3   grade    3 non-null      object
 4   country  3 non-null      object
dtypes: int64(2), object(3)
memory usage: 252.0+ bytes

In [9]:
df.set_option('display.max_columns',2)

AttributeError: 'DataFrame' object has no attribute 'set_option'

In [10]:
df

        name  id  age grade  country
0     michel   1   65     B  lebanon
1       rita   2   27     A   france
2  josephine   3   25     A       UK

In [11]:
df.set_option('display.max_columns')

AttributeError: 'DataFrame' object has no attribute 'set_option'

In [12]:
df

        name  id  age grade  country
0     michel   1   65     B  lebanon
1       rita   2   27     A   france
2  josephine   3   25     A       UK

In [16]:
pd.set_option('display.max_columns', 2)

In [17]:
df

NameError: name 'b' is not defined

In [19]:
schema_df = pd.read_csv('/Users/michelkadi/Desktop/data/stack-overflow-developer-survey-2023/survey_results_public.csv')

In [20]:
schema_df

       ResponseId  ... ConvertedCompYearly
0               1  ...                 NaN
1               2  ...            285000.0
2               3  ...            250000.0
3               4  ...            156000.0
4               5  ...             23456.0
...           ...  ...                 ...
89179       89180  ...                 NaN
89180       89181  ...                 NaN
89181       89182  ...                 NaN
89182       89183  ...                 NaN
89183       89184  ...                 NaN

[89184 rows x 84 columns]